.contact{
    width: 100%;
    min-height:800px;
   
    @extend %pds;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   position: relative;
    overflow: hidden;
    perspective: 1000px;
        perspective-origin: 50% -60%;

    &-wrap{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        transform-style: preserve-3d;
        position: absolute;
        top: 50%;
        left:50%;
        -webkit-transform: translate(-50%,-50%) rotateX(90deg);
        transform: translate(-50%,-50%) rotateX(90deg) ;
        height: 300rem;
        width: 500rem;
       
        background-image: url(../../img/floor.png);
        
    }    
    &-con{
        margin-top: 15%;
        margin-bottom: 20rem;
        background-image: url(../../img/letter.png);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 5.5em 7em;
        cursor: pointer;
        text-align: center;
        text-shadow: 0 0.1rem 0.2rem var(--cp);
        position: relative;
        filter: drop-shadow(0px 0px 0.1px blue);
        &:hover{
            filter: sepia(0.3) drop-shadow(1px 1px 3px rgba(245, 245, 98, 0.849));
           
        }

        & h2{
            text-align: center;
            width: 7ch;
            font-size: calc(4rem + 1vw);
            
            letter-spacing: 0;
            @include mq-xxl{
                font-size: 55px;
            }
        }
        &::after{
            content: '';
            position: absolute;
            top: calc(13rem + 2vw);
            left: 10%;
            width: 30rem;
            height: 30rem;
            background-image: url(../../img/ballpen.png);
            background-size: contain;
            background-repeat: no-repeat;
            z-index: 12;
        }

        
    }
    &-info{
        
        z-index: -1;
        min-width: 10rem;
        height: 30rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        filter: drop-shadow(0px 0px 0.1px blue);

        
        background-size: 25rem 40rem;
        background-image: url(../../img/carpet.jpg);
        text-shadow: 0 0.1rem 0.4rem var(--cp);
        font-size: calc(2rem + 1vw);
        border-radius: 2rem;
        line-height: 3em;

        &_content{
            padding: 0.5rem 5rem;
            display: flex;
        }
        & i{
            margin-right: 1rem;
            @include mq-s{
                margin-right: 2rem;
            }
        }
        & i, & p{
            font-size:fs(s);
            @include mq-s{
                font-size: unset;
            }
            @include mq-xxl{
                font-size: 35px;
            }
            
        }
    }

    &-icons{
        margin-top: 3rem;
       display: flex;
       justify-content: center;
       align-items: center;
      margin-bottom: 5rem;
      z-index: -1;
       
       & .git{
           position: relative;
           height: 200px;
           width: 80px;
           z-index: 50;
           transform: translate3d(0,0,0);
           
           cursor: grab;
       
        
           &:hover .git-boot{
            transform:   rotateZ(-45deg);
            
            } 
            &:hover .git-icon{
                z-index: 2;
                transition: z-index 0s 0.5s ease-in-out;
            } 

           &-boot{
            cursor: grab;
            position: absolute;
            top: 0;left: 0;
            height: 100%;
            width: 100%;
            max-height: 100%;
            backface-visibility: hidden;
           -webkit-backface-visibility: hidden;
                background: url(../../img/lshoe.png);
                background-size: contain;
                background-repeat: no-repeat;
                transition: transform 0.5s ease-in-out;
                transform-origin: bottom;
           
                
                
           }
           &-icon{
           
            position: absolute;
            top: 20%;
            left: 7%;
            height: 5rem;
            width: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: transparent;
            transition:z-index 0s 0s ease;
            z-index: -1;
            cursor: pointer;
            &:hover{
                transform: scale(1.05);
            }
            & i{
                font-size: fs(s);
                @include mq-xxl{
                    font-size: 35px;
                }
            }
        }

       }
       & .linked{
        position: relative;
        height: 200px;
        width: 80px;
        z-index: 50;
        cursor: grab;
        &:hover .linked-boot {
            transform:  rotateZ(40deg);
            
        }
        &:hover .linked-icon{
            z-index: 2;
            transition: z-index 0s 0.5s ease;
        } 

        &-boot{
            height: 100%;
           width: 100%;
            position: absolute;
            top: 0;
            left: 0;
             background: url(../../img/rshoe.png);
             background-size: contain;
                background-repeat: no-repeat;
            transition: transform 0.5s ease;
            transform-origin: bottom;
            cursor: grab;
               
        }
        &-icon{
            position: absolute;
            top: 20%;
            left: 7%;
            height: 5rem;
            width: 5rem;
            
            border-radius: 50%;
            background-color: transparent;
            z-index: -1;
            display: flex;
            transition:z-index 0s 0s ease;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &:hover{
                transform: scale(1.05);
            }
            
            & i{
                font-size: fs(s);
                @include mq-xxl{
                    font-size: 35px;
                }
            }
        }
        
    }
    }
}



.contact-form{
    
    position: fixed;
    top: 50%;
    left: 50%;
    
    padding: 5rem 10rem;
    background-image: url(../../img/letter.png);
    z-index:20 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 4rem;
    transform: translate(-50%,-50%) scaleX(0);
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    
    .close-form{ 
        
        position: absolute;
        cursor: pointer;
        top: 6rem;
        right: 3rem;
        height: 3.5rem;
        width: 3.5rem;
        text-align: center;
        line-height: 2.5rem;
        color: black;
        font-size: fs(s);
        border: 0.2rem solid black;
        border-radius: 50%;
        transition: transform 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035);

        &:hover{
            transform: rotateZ(3600deg);
        }

        &::after{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            height: 0.2rem;
            width: 1.8rem;
            background-color: var(--cp);
            transform: translate(-50%,-50%) rotateZ(45deg);
        }
        &::before{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            height: 0.2rem;
            width: 1.8rem;
            background-color: var(--cp);
            transform: translate(-50%,-50%) rotateZ(-45deg);
        }

    }
    & button{
        border: none;
        outline: none;
        margin-top: 3rem;
        font-size: fs(xs);
        padding: 0.5rem 2rem;
        border-radius: 1rem;
        color: black;
        border: 0.2rem solid black;
        background-color: transparent;
        @include mq-xxl{
            font-size: 16.5px;
        }
    }

    .form-control{
       margin-top: 2rem;
        height: min-content;
        position: relative;
        &:first-of-type{
            margin-top: 5rem;
        }
        &:last-of-type{
          max-height: 6rem ;
        }
        
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 0.2rem;
            width: 100%;
            background-color: var(--cp);
        }
        & input{
            font-family: 'Source Code Pro', monospace;
            font-size: fs(xs);
            border: none;
            letter-spacing: 0.01rem;
            width: 18rem;
            height: 100%;
            padding: 1rem 0.7rem ;
            background-color: transparent;
            @include mq-s{
                width: 25rem;
            }
            @include mq-xxl{
                font-size: 16.5px;
            }
            
            &:focus{
                background-color:transparent;
                
            }
        }
        & textarea{
            font-family: 'Source Code Pro', monospace;
            border: none;
            font-size: fs(xs);
            width: 18rem;
            height: 100%;
            letter-spacing: 0.01rem;
            padding: 1rem 0.7rem ;
            background-color: transparent;
            resize: none;
            padding-bottom: 2rem;
            @include mq-s{
                width: 25rem;
            }
            @include mq-xxl{
                font-size: 16.5px;
            }
            &:focus{
                background-color:transparent;
                
            }

           
        }

        
    }
    

    
}


.open-form {
    transform: translate(-50%,-50%) scaleX(1);
}

.close-con-form{
    transform: scaleX(0);
}

.form-alert{
    inset: 0;
    margin: auto;
    position: fixed;
    width: max-content;
    height: max-content;
    
    font-size: fs(s);
    letter-spacing: normal;
    display: none;
    z-index: 40;
    max-width:90%;
    text-align: center;
}

.alert-show{
    display: block;
    
    height: max-content;
}

.alert-success{
    padding: 3rem 6rem;
    background-color: green;
}
.alert-danger{
    padding: 3rem 6rem;
    background-color: red;
}